 @media(max-width:1226px)
{
    .color .white{width: 600px;right: 20px;}
    .color .blue{width: 550px;}
} 

@media(max-width:1170px)
{
    .header .logo{width: 40%;}
    .header .text{width: 60%;}
    .navbar .menu{margin-right: 20px;}
    .nav .icon .shop i {margin-left: 10px;}

    .color .white{width: 560px;}
    .white .chair{margin: 10px 0 0 50px;}
    .color .blue{right: 550px;width: 450px;height: 400px;}
    .color .blue img{padding: 0 0px;}

    .team .teeth{width: 240px;height: 630px;}
    .teeth  img{width: 100%;}
    .team .teeth1{width: 240px;}
    .teeth1  img{width: 100%;}
    .team .teeth2{width: 240px;}
    .teeth2  img{width: 100%;}
    .team .teeth3{width: 240px;height: 630px;}
    .teeth3  img{width: 100%;}


    .input .detail .your input {width: 230px;}
    .input .detail1 .select select{width: 230px;}
    .input .detail1 .your input {width: 230px;}
    .details .Book .input .appoint button{margin: 10px 0 0 160px;}


    .view .general{width: 23%;}
    .general img{height: 70px;width: 70px;}
    .view .general p {font-size: 17px;}
    .view .general span{font-size: 17px;}


    .footer .copy p {text-align: start;font-size: 18px;}
    .footer .copy span{font-size: 18px;}
    .footer .last li {margin-right: 10px;}
}
@media(max-width:1000px)
{

    .header{height: 60px;}
    .header .logo{width: 100%;height: 60px;display: flex;}
    .header .logo .fa-list{display: block;font-size: 40px;padding: 10px 20px;}
    .header .logo img{height: 55px;width: 50%;}
    .header .text{display: none;}
    .nav{display: none;}

    .main .care{width: 300px;height: 200px;top: 220px;}
    .care h2{font-size: 30px;}
    .care h1{font-size: 35px;}
    .main .dental{width: 500px;}
    .main .dental .implants{width: 50%;}
    .dental .implants .icon i {font-size: 50px;}
    .implants .txt span {font-size: 20px;}
    .implants .txt p {font-size: 17px}
    .main .dental .alignments{width: 50%;}
    .dental .alignments .icon i {font-size: 50px;}
    .alignments .txt span {font-size: 20px;}
    .alignments .txt p {font-size: 17px}
    .main .button{width: 200px;border-radius: 10px}
    .main .button p,.main .button i{font-size: 23px;}

    .color .white{width: 400px;}
    .color .white  h1{font-size: 25px;}
    .white .chair{margin: 10px 0 0 10px;width: 350px;}
    .white .chair .icon{width: 30%;}
    .white .chair .inp {width: 70%;}
    .color .blue{right: 410px;width: 300px;height: 430px;}
    .color .blue span{padding-left: 60px;}
    .color .blue img{padding: 0 0px;height: 80px;}


    .denti .speci{width: 90%;}

    .team{height: 1500px;}
    .team .new{height: 1500px;flex-wrap: wrap;}
    .team .teeth{width: 47%;}
    .team .teeth1{width: 47%;}
    .team .teeth2{width: 47%;}
    .team .teeth3{width: 47%;}


    .details{height: 1000px;}
    .details img{top: 500px;height: 500px;left: 200px;}
    .details .Book{width: 100%;top: 0;}
    .input .detail .your input {width: 330px;}
    .input .detail1 .select select{width: 330px;}
    .input .detail1 .your input {width: 330px;}
    .details .Book .input .appoint button{margin: 10px 0 0 260px;}


    .view{height: 700px;}
    .view .general{width: 48%;height: 100px;margin: 0;}
    .view .solutions{left: 30%;top: 670px;}


    .contact p{padding: 5px 0 0 80px;}
    .contact iframe{width: 50%;}
    .contact .kalak{width: 60%;}


    .phone{height: 600px;flex-wrap: wrap;}
    .phone .Address{width: 47%;}
    .phone .Address1{width: 47%;}
    .phone .Address2{width: 47%;}
   

    .main1{height: 1000px;flex-wrap: wrap;}
    .main1 .best{width: 60%;}
    .main1 .about {width: 30%;}
    .main1 .awards {width: 90%;margin: 0 auto;}
    .awards span{margin: 0;}
    .awards .text{left: 150px;}
    .main1 .social{width: 50%;margin: 0 30px;}


    .footer{display: block;height: 200px;}
    .footer .copy{width: 100%;}
    .footer .copy p{margin: 0 150px;}
    .footer .last{width: 100%;}
}

@media(max-width:750px)
{

    .header{height: 60px;}
    .header .logo{width: 100%;height: 60px;display: flex;}
    .header .logo .fa-list{display: block;font-size: 40px;padding: 10px 20px;}
    .header .logo img{height: 55px;width: 50%;}
    .header .text{display: none;}
    .nav{display: none;}


    .main .care{width: 90%;left: 10px;}
    .care h2{padding: 30px 0 0 0;}
    .main .dental{width: 95%;left: 10px;flex-wrap: wrap;height: 200px;}
    .main .dental .implants{width: 100%;height: 100px;}
    .dental .implants .icon{width: 30%;}
    .dental .implants .icon i {font-size: 60px;}
    .dental .implants .txt{width: 70%;}
    .main .dental .alignments{width: 100%;height: 100px;}
    .dental .alignments .icon{width: 30%;}
    .dental .alignments .icon i {font-size: 60px;}
    .dental .alignments .txt{width: 70%;}
    .main .button{top: 650px;}



    .color{height: 1300px;}
    .color .blue{width: 90%;left: 30px;height: 300px;}
    .color .blue p {padding: 60px 30px 40px 40px;}
    .color .blue span{padding-left: 130px;}
    .color .white{width: 95%;top: 281px;height: 1000px;}
    .color .white  h1{font-size: 35px;margin: 30px 140px;}
    .white .chair{width: 90%;;display: block;height: 860px;margin: 10px auto;}
    .white .chair .icon{width: 100%;height: 500px;}
    .white .chair .icon img{width: 100%;height: 500px;}
    .white .chair .inp {width: 100%;height: 360px;}
    .inp input{width: 400px;margin: 5px;}
    .inp select{width: 400px;margin: 5px;}
    .inp button{width: 400px;margin: 5px ;}


    .excellence{height: 2900px;}
    .excellence .view{display: block;height: 200px;}
    .excellence p{font-size: 30px;}
    .excellence span {font-size: 45px;}
    .excellence button{height: 50px;}
    .excellence .service{margin: 20px auto;width: 90%;height: 2700px;flex-wrap: wrap;}
    .excellence .service .service1{width: 100%;height: 600px;margin: 20px 0;}
    .service1 a img {height: 400px;}
    .service1 .dant{top: 350px;}
    .service1 h1{font-size: 25px;}
    .service1 p {font-size: 15px;margin: 5px 0 5px -20px;}


    .speci img{top: 300px;left: 120px;}

    .team{height: 3500px;flex-wrap: wrap;}
    .team .new{height: 3500px;width: 90%;}
    .team .teeth{width: 100%;height: 800px;}
    .teeth  img{height: 500px;}
    .team .teeth1{width: 100%;height: 820px;}
    .teeth1  img{height: 500px;}
    .team .teeth2{width: 100%;height: 800px;}
    .teeth2  img{height: 500px;}
    .team .teeth3{width: 100%;height: 800px;}
    .teeth3  img{height: 500px;}


    .details{height: 1140px;}
    .details .Book{height: 500px;width: 90%;left: 32px;}
    .details .Book h2{font-size: 25px;;}
    .details .Book h2 span{font-size: 30px;}
    .details .Book p{font-size: 18px;}
    .input .detail .your input {width: 90%;}
    .input .detail1 .select select{width: 90%;}
    .input .detail1 .your input {width: 90%;}
    .details .Book .input .appoint button{margin: 10px 180px;}
    .details img{width: 100%;height: 600px;left: 30px;}

    .view{height: 1200px;width: 90%;margin: 0 30px;}
    .view .general{height: 130px;width: 100%;}
    .general img{padding: 0;}
    .view .solutions{top: 1170px;}


    .contact{height: 1700px;}
    .contact h1 {font-size: 30px;padding-top: 70px;}
    .contact p {padding: 5px 50px;}
    .contact iframe{width: 90%;margin: 0 30px;}
    .contact .kalak{width: 90%;top: 998px;left: 30px;}
    .contact .kalak .schedule{width: 380px;}
    .schedule .var{width: 100%;}
    .schedule .var1{width: 100%;}
    .schedule .var2{width: 100%;}
    .kalak h2 {font-size: 28px;}
    .kalak button{height: 50px;width: 200px;}


    .phone{width: 90%;margin: 0 30px;flex-wrap: wrap;height: 1000px;}
    .phone .Address{width: 52%;margin: 0 auto;}
    .phone .Address1{width: 52%;margin: 0 auto;}
    .phone .Address2{width: 52%;margin: 0 auto;}
    .Address h2{padding: 0 20px;} 


    .main1{height: 1200px;flex-wrap: wrap;}
    .main1 .best{width: 90%;margin: 0 auto;}
    .main1 .about {width: 90%;margin: 0 auto;}
    .main1 .awards {width: 90%;margin: 0 auto;}
    .awards span{margin: 0;}
    .awards .text{left: 150px;}
    .main1 .social{width: 90%;margin: 0 30px;margin: 0 auto;}

    .footer{display: block;height: 200px;}
    .footer .copy{width: 100%;}
    .footer .copy p{margin: 0 30px;font-size: 17px}
    .footer .copy span{font-size: 17px}
    .footer .last{width: 100%;line-height: 20px;}
    .footer .last li {margin-right: 10px;font-size: 15px;}
}


@media(max-width:500px)
{
    .header{height: 60px;}
    .header .logo{width: 100%;height: 60px;display: flex;}
    .header .logo .fa-list{display: block;font-size: 40px;padding: 10px 20px;}
    .header .logo img{height: 55px;width: 50%;}
    .header .text{display: none;}
    .nav{display: none;}
	

    .color{height: 1300px;}
    .color .blue{width: 90%;left: 20px;height: 300px;}
    .color .blue p {padding: 60px 30px 40px 40px;}
    .color .blue span{padding-left: 130px;}
    .color .white{width: 95%;top: 281px;height: 1000px;left: 10px;}
    .color .white  h1{font-size: 35px;margin: 30px 140px;}
    .white .chair{width: 90%;;display: block;height: 860px;margin: 10px auto;}
    .white .chair .icon{width: 100%;height: 500px;}
    .white .chair .icon img{width: 100%;height: 500px;}
    .white .chair .inp {width: 100%;height: 360px;}
    .inp input{width: 400px;margin: 5px;}
    .inp select{width: 400px;margin: 5px;}
    .inp button{width: 400px;margin: 5px ;}


    .excellence{height: 2500px;}
    .excellence .view{display: block;height: 200px;width: 90%;}
    .excellence p{font-size: 30px;padding: 10px 0 0 0;}
    .excellence span {font-size: 45px;}
    .excellence button{height: 50px;margin: 30px 0;}
    .excellence .service{margin: 20px auto;width: 90%;height: 2200px;flex-wrap: wrap;}
    .excellence .service .service1{width: 100%;height: 500px;margin: 20px 0;}
    .service1 a img {height: 300px;}
    .service1 .dant{top: 250px;}
    .service1 h1{font-size: 25px;}
    .service1 p {font-size: 15px;margin: 5px 0 5px 30px;}


    .team{height: 3000px;flex-wrap: wrap;}
    .team .new{height: 3000px;width: 90%;}
    .team .teeth{width: 100%;height: 700px;}
    .teeth  img{height: 400px;}
    .team .teeth1{width: 100%;height: 720px;}
    .teeth1  img{height: 400px;}
    .team .teeth2{width: 100%;height: 700px;}
    .teeth2  img{height: 400px;}
    .team .teeth3{width: 100%;height: 700px;}
    .teeth3  img{height: 400px;}


    .details{height: 1300px;}
    .details .Book{height: 700px;}
    .details .Book .input{height: 500px;}
    .details .Book .input .detail{height: 200px;flex-wrap: wrap;}
    .input .detail .your{width: 100%;}
    .input .detail .your p{padding: 0 0 0 10px;}
    .details .Book .input .detail1{height: 200px;flex-wrap: wrap;}
    .input .detail1 .select{width: 100%;}
    .input .detail1 .your{width: 100%;}
    .details .Book .input .appoint button{margin: 20px 0 0 120px;}
    .details img{top: 700px;left: 0;width: 100%;}


    .view .solutions{left: 25%;}


    .contact{height: 1500px;}
    .contact iframe{height: 500px;}
    .contact .kalak{width: 90%;top: 698px;left: 30px;height: 720px;}
    .contact .kalak .schedule{height: 450px;}
    .schedule .var {height:70px;width:80%; }
    .schedule .var button{margin: 38px 0 0 -180px}
    .schedule .var button:hover{margin: 36px 0 0 -180px}
    .schedule .var1{height:70px;width:80%; }
    .schedule .var1 button{margin: 38px 0 0 -200px}
    .schedule .var1 button:hover{margin: 36px 0 0 -200px}
    .schedule .var2{height:70px;width:80%; }
    .schedule .var2 button{margin: 38px 0 0 -180px}
    .schedule .var2 button:hover{margin: 36px 0 0 -180px}
    .kalak h2{padding: 20px 0 0 40px}


    .footer{height: 150px;}

}







