*{box-sizing: border-box;margin: 0;padding: 0;}
body{overflow-x: hidden;}

.main 
{
	height: 600px;
	width: 100%;
/*	background: lightcoral;*/
	position: relative;
}
.main img
{
	height: 600px;
	width: 100%;
}
.main .nav
{
	height: 30px;
	width: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr ;
/*	border: 1px solid black;*/
	
}
.nav .icon 
{
	
/*	background: lightcoral;*/
	display: flex;
	text-align: center;
	line-height: 20px;
/*	margin: 0 0 0px 100px;*/
}
.icon .facebook
{
	height: 20px;
	width: 20px;
/*	background: blue;*/
	border-radius: 50%;
    margin: 5px 0 0px 100px;;
}
.icon .facebook i 
{
	color: white;
	font-size: 14px;

}
.icon .linkd
{
	height: 20px;
	width: 20px;
	background: #3389d7;
	border-radius: 50%;
	margin: 5px;
}
.icon .linkd i 
{
	color: white;
	font-size: 14px;
}
.icon .twitter
{
	height: 20px;
	width: 20px;
	background: #3389d7;
	border-radius: 50%;
	margin: 5px;
}
.icon .twitter i 
{
	color: white;
	font-size: 14px;
}
.icon .message
{
	height: 20px;
	width: 20px;
	background:lightgreen ;
	border-radius: 50%;
	margin: 5px;
}
.icon .message i 
{
	color: white;
	font-size: 14px;
}
.icon .pinterest
{
	height: 20px;
	width: 20px;
	background: red;
	border-radius: 50%;
	margin: 5px;
}
.icon .pinterest i 
{
	color: white;
	font-size: 14px;
}
.icon p 
{
	padding: 5px 0 0 0 ;
	color: white;
	font-size: 13px;
}
.icon .search
{
	height: 20px;
	width: 20px;
/*	background: red;*/
	border-radius: 30%;
	border-left: 1px solid;
	margin:5px 0 0  10px ;
}
.icon .search i 
{
	color: white;
	font-size: 14px;
	padding: 0 0 0 10px;
}
.nav .text
{
	height: 30px;
	width: 100%;
/*	background: lightgreen;*/
	display: flex;
}
.nav .text .fa-envelope-o 
{
    color: white;
    margin: 5px 0 0 140px;
}
.nav .text .fa-phone 
{
    color: white;
    margin: 5px 0 0 10px;
}
.nav .text p 
{
	color: white;
    margin: 5px 0 0 5px;
}
 .prepare
{
	height: 150px;
	width: 100%;
	background: #0693e3;
	border-top: 5px solid #8ed1fc;
	border-bottom: 5px solid #8ed1fc;
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-template-rows: 150px 150px;
	
}
.prepare .amazed
{
/*	background: lightgrey;*/
}
.prepare .amazed h1
{
	color: white;
	padding: 40px 0 0 150px;
}
.prepare .amazed p 
{
	color: white;
	padding: 10px 0 0 150px;

}
.prepare .buy
{
/*	background: lightgreen;*/
}
.prepare .buy button
{
	height: 40px;
	width: 100px;
	background:#424242 ;
	color: white;
	border: none;
	margin: 55px;
	font-weight: bold;
	border-radius: 5px;
}
.header
{
	height: 70px;
	width: 100%;
	background: rgba(80, 80, 80, .90);
	position: absolute;
	top: 30px;
	display: flex;
}
.header .logo
{
	height: 70px;
	width: 40%;
/*	background: lightblue;*/
}
.logo img
{
	height: 40px;
	width: 250px;
	margin: 15px 0 0 100px;
}
.logo select
{
	display: none;
}
.header .menu
{
	height: 70px;
	width: 60%;
/*	background: lightcoral;*/
	display: flex;
}
.menu .submenu
{
	list-style: none;
	display: inline;
	position: relative;


}
.menu a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align:center ;
    line-height: 70px;
    padding: 0 0 0 25px;
}
.submenu .submenu1
{
	height: auto;
	width: 200px;
	background: black;
	position: absolute;
	top: 42px;
	left:20px;
	visibility: hidden;
/*    opacity: 0;*/
	z-index: 5;
	transition: .2s;
	border-top: 2px solid white;
	
}
.submenu1 li 
{
	list-style: none;
	display: block;

}
.submenu1 a 
{
	font-weight: normal;
	line-height: 30px;
	padding: 0 0 0 10px;

}
.submenu:hover .submenu1
{
    visibility: visible;
/*   opacity: 1;*/
  
}
.submenu1 .fa 
{
	list-style: none;
	display: block;
	position: relative;

}
 .fa .submenu2
{
	height: auto;
	width: 200px;
	background: black;
	position: absolute;
	top: 0px;
	right:-200px;
	visibility: hidden;
	z-index: 5;
	transition: .2s;
	border-top: 2px solid white;
	
}
.fa:hover .submenu2
{
    visibility: visible;
  
}


.popular
{
	height: 700px;
	width: 100%;
	/* background: lightgoldenrodyellow; */
	position: relative;
}
.popular .package
{
	height: 600px;
	width: 80%;
	/* background: lightcyan; */
    position: absolute;
    top: 50px;
    left: 120px;
    border-top: 1px solid;
}
.popular .package .txt 
{
	height: 50px;
	width: 250px;
	background: white;
	position: absolute;
	top: -20px;
	left: 400px;
}
.popular .package .txt p
{
/*	color: white;*/
	font-size: 25px;
	text-align: center;
	line-height:39px ;
	padding: 0;
}
.popular .package p 
{
	font-size: 17px;
	padding: 30px 0 0 450px;
}
.popular .package p a 
{
	text-decoration: none;
}
.package .View
{
	height: 550px;
	width: 100%;
	/* background: lightpink; */
	margin-top:20px ;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px 250px  250px 250px 250px 250px;
	gap: 30px;

}
.View .paris
{
/*	height: 300px ;*/
/*	width: 300px;*/
/*	background: lightcoral;*/
/*	border: 1px solid;*/
	position: relative;
}
.View .paris img
{
	height: 210px;
	width: 100%;
}
.View .paris .date 
{
	height: 40px;
	width: 100%;
	/* background: lightgreen; */
	display: flex;
}
.View .paris .date i 
{
   padding: 5px 0 0 40px;
   color: grey;
}
.View .paris .date p 
{
	padding: 5px 0 0 10px;
	color: grey;
}
.View .paris .trans 
{
	height: 30px ;
	width: 90%;
	background: black;
	position: absolute;
	top: 150px;
	left: 0;
	margin: 15px;
	display: flex;
}
.View .paris .trans p 
{
	padding: 0;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	padding: 0 0 0 10px;
}
.View .paris .trans i 
{
	color: white;
	padding: 8px 0 0 40px;
}
.View .paris .trans span
{
	color: #3389d7;
	padding: 7px 0 0 10px;
	font-weight: bold;
}
.View .paris .learn
{
	height: 40px;
	width: 130px;
	background: #3389d7;
	position: absolute;
	top: 20px;
	right:-20px;
	display: flex;
	z-index: 1;

}
.View .paris .learn p 
{
	color: white;
	padding:8px 0 0 13px;
	font-weight: bold;
	font-size: 20px;
	z-index: 1;
}
.View .paris .icon 
{
	height: 50px;
	width: 50px;
/*	background: lightcoral;*/
	position: absolute;
	top: 30px;
	right: -20px;
} 
.View .paris .icon i 
{
	font-size: 60px;
	padding: 0px 20px 0 30px;
}

.View .paris .learn1
{
	height: 60px;
	width: 130px;
	background: red;
	position: absolute;
	top: 20px;
	right:-20px;
	display: flex;
	z-index: 1;

}
.View .paris .learn1 p 
{
	color: white;
	padding:8px 0 0 13px;
	font-weight: bold;
	font-size: 20px;
	z-index: 1;
}
.View .paris .learn1 span
{
	font-size: 25px;
}
.View .paris .icon1
{
	height: 50px;
	width: 50px;
/*	background: lightcoral;*/
	position: absolute;
	top: 50px;
	right: -20px;
} 
.View .paris .icon1 i 
{
	font-size: 60px;
	padding: 0px 20px 0 30px;
}

.View .paris .trans1
{
	height: 30px ;
	width: 90%;
	background: black;
	position: absolute;
	top: 150px;
	left: 0;
	margin: 15px;
	display: flex;
}
.View .paris .trans1 p 
{
	padding: 0;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	padding: 0 0 0 10px;
}
.View .paris .trans1 i 
{
	color: white;
	padding: 8px 0 0 40px;
}
.View .paris .trans1 span
{
	color: red;
	padding: 7px 0 0 10px;
	font-weight: bold;
}





.happy
{
	height: 400px;
	width: 100%;
	background: white; 
	display: grid;
	grid-template-columns: 1fr 5fr 3fr 1fr;
	grid-template-rows: 400px ;
	border: 1px solid grey;
}
.happy .blank
{
/*	background: lightcoral;*/
}
.happy .blank1
{
/*	background: lightcoral;*/
}
.happy .happier
{
	/* background: lightcyan; */
}
.happier .heart
{
	height: 50px;
	width: 100%;
	/* background: lightgreen; */
	display: flex;
}
.happier i 
{
	font-size: 30px;
	color:#3389d7 ;
	padding: 20px 0 0 30px;
}
.happier p 
{
	font-size: 25px;
	padding: 20px 0 0 20px;
	
}
.happier .smile
{
	height: 350px;
	width: 100%;
	/* background: lightcoral; */
	display: flex;
}
.happier .smile .smile1
{
	height: 300px;
	width: 45%;
	/* background: lightblue; */
}
.smile .smile1 img
{
	height: 250px;
	width: 100%;
	padding: 30px 0 0 0 ;
}
.smile .text
{
	height: 350px;
	width: 55%;
	/* background: lightgrey; */
}
.smile .text p 
{
	font-size: 15px;
}
.smile .text .text1
{
	height: 40px;
	width: 100%;
	/* background: lightcoral; */
/*	border: 1px solid;*/
	margin: 10px 0 0 0;
	display: flex;
}
.smile .text1 i 
{
	font-size: 23px;
	padding: 0;
	text-align: center;
	line-height: 40px;
	padding: 0 0 0 20px;
}
.smile .text1 p 
{
	padding:0 0 0 10px;
	margin: 0;
}
.smile .text1 a 
{
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	line-height: 40px;
}
.happy .client
{
	/* background: lightpink; */
}
.client .say
{
	height: 60px;
	width: 100%;
	/* background: lightcyan; */
	display: flex;
}
.client .say i 
{
	font-size: 30px;
	color:#3389d7 ;
	padding: 20px 0 0 30px;
}

.client .say p 
{
	font-size: 25px;
	padding: 20px 0 0 20px;
	
}
.client .text
{
	height: 120px;
	width: 90%;
	/* background: lightgreen; */
	margin: 10px 0 0 15px;
	border: 1px solid;
}
.client .text p 
{
	font-size: 20px;
	color: grey;
}
.client  .text1
{
	height: 60px;
	width: 90%;
	background: black;
	margin: 0 0 0 15px;
	display: flex;
	border: 1px solid;
}
.client  .text1 .circle
{
	height: 60px ;
	width: 50%;
/*	background: black;*/
/*	margin:10px ;*/
	
}
.client  .text1 .circle i 
{
	color: white;
	font-size: 10px;
/*	padding: 10px 0 0 0;*/
margin: 20px 0 0 5px;
}
.client  .text1 .text2
{
	height: 60px ;
	width: 50%;
/*	background: lightcyan;*/
}
.client  .text1 .text2 p 
{
	color: grey;
	padding: 20px 0 0 50px;
}





.trip
{
	height: 500px;
	width: 100%;
	/* background: lightcyan; */
	display: grid;
	grid-template-columns: 1fr 2.5fr 2.5fr 2.5fr 1fr;
	grid-template-rows: 500px 500px 500px 500px 500px ;
}
.trip .blank
{
/*	background: lightgrey;*/
}
.trip .featured
{
	/* background: lightgreen; */
}
.featured .video
{
	height: 100px ;
	width: 100%;
	/* background: lightcoral; */
	display: flex;
}
.featured .video i
{
	font-size: 25px;
	color: #3389d7;
	padding: 50px 0 0 20px;
}
.featured .video p 
{
    font-size: 25px;
    padding: 50px 0 0 20px;
}
.featured .youtube
{
	height: 200px ;
	width: 100%;
	/* background:lightcoral; */
}
.youtube .iframe
{
	height: 200px;
	width: 100%;
	padding: 10px 0 0 10px;
}
.featured .text 
{
	height: 200px;
	width: 100%;
	/* background: lightcyan; */
}
.text span
{
	font-size: 20px;
	margin: 40px 0 0 20px;
	color:#3389d7 ;
}
.text p 
{
	font-size: 15px;
	margin: 20px;
}
.trip .tips
{
	/* background: lightcoral; */
}
.tips .video
{
	height: 100px ;
	width: 100%;
/*	background: lightcyan;*/
	display: flex;
}
.tips .video i
{
	font-size: 25px;
	color: #3389d7;
	padding: 50px 0 0 20px;
}
.tips .video p 
{
    font-size: 25px;
    padding: 50px 0 0 20px;
}
.tips .post 
{
	height: 70px;
	width: 100%;
	/* background: lightgrey; */
	margin: 20px 0 0 0;
	display: flex;
}
.post .img
{
	height: 70px ;
	width: 25%;
	/* background: lightgrey; */
	margin: 0 0 0 10px;
	border: 1px solid grey;
}
.post .img img
{
	height: 60px;
	width: 90%;
	margin: 4px;
}
.post .text 
{
	height: 70px;
	width: 75%;
	/* background: lightcoral; */
	padding: 0 0 0 15px;
}
.post .text span
{
    font-size: 20px;
    color:#3389d7 ;
    margin: 5px;
}
.post .text p
{
    font-size: 15px;
    color:grey ;
    margin: 5px;
}
.trip .search
{
	/* background: lightgrey; */
}
.search .video
{
	height: 100px ;
	width: 100%;
	/* background: lightgoldenrodyellow; */
	display: flex;
}
.search .video i
{
	font-size: 25px;
	color: #3389d7;
	padding: 50px 0 0 20px;
}
.search .video p 
{
    font-size: 25px;
    padding: 50px 0 0 20px;
}
.search .table
{
	height: 400px;
	width: 100%;
	background: lightgrey;
}
.search input
{
	height: 30px;
	width: 250px;
	margin: 20px 0 0 30px;
	border: none;
}
.search select
{
	height: 30px;
	width: 250px;
	margin: 20px 0 0 30px;
	border: none;
}
.search button
{
	height: 30px;
	width: 250px;
	margin: 20px 0 0 30px;
	background: red;
	color: white;
	border: none;
}



.tour
{
	height: 550px;
	width: 100%;
	background: #424242;
	display: grid;
	grid-template-columns: 1fr 2.5fr 2.5fr 2.5fr 1fr;
	grid-template-rows: 500px 500px 500px 500px 500px ;
	margin: 100px 0 0 0 ;
	position: relative;
}
.tour .blank
{
/*	background: lightsalmon;*/
}
.tour .package
{
	/* background: lightblue; */
}
.tour .package img
{
	height: 50px;
	width: 80%;
	margin: 60px 0 0 30px;
}
.tour .package p
{
	font-size: 18px;
	margin: 40px 0 0 20px;
/*	margin-top: -30px;*/
}

.tour .minute
{
	/* background: lightsalmon; */
}
.minute .video
{
	height: 100px ;
	width: 100%;
/*	background: lightcyan;*/
	display: flex;
}

.minute .video p 
{
    font-size: 30px;
    padding: 50px 0 0 20px;
    color: #3389d7;
}
.minute .post 
{
	height: 70px;
	width: 100%;
	/* background: lightgrey; */
	margin: 20px 0 0 0;
	display: flex;
}
.post .img
{
	height: 70px ;
	width: 25%;
	/* background: lightgrey; */
	margin: 0 0 0 10px;
	border: 1px solid grey;
}
.post .img img
{
	height: 60px;
	width: 90%;
	margin: 4px;
}
.post .text 
{
	height: 70px;
	width: 75%;
	/* background: lightcoral; */
	padding: 0 0 0 15px;
}
.post .text .mix
{
	height: 40px;
	width: 100%;
	/* background: lightgoldenrodyellow; */
	display: flex;
} 
.post .text  h3
{
	color: white;
}
.post .text .mix i
{
	text-align: center;
	line-height: 40px;
	color: grey;
	padding: 0 0 0 0px;
}
.post .text .mix p
{
	text-align: center;
	line-height: 30px;
	text-decoration: line-through;
	padding: 0 0 0 2px;
}
.post .text .mix h4
{
	text-align: center;
	line-height: 40px;
	color: red;
	font-size: 15px;
	padding: 0  ;	
}
.tour .offer
{
	/* background: lightgreen; */
	margin: 0;
}
.tour .offer .rome 
{
	height: 200px;
	width: 90%;
	/* background: lightsalmon; */
	margin: 50px 0 0 15px;
	border-radius: 10px;
	position: relative;
}
.offer .rome img
{
	height: 200px;
	width: 100%;
	border-radius: 10px;
}
.tour .offer .rome .rome1
{
	height: 200px;
	width: 100%;
	background: rgba(100, 100, 300, .80);
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.rome .rome1 .off 
{
	height: 100px;
	width: 100%;
/*	background: lightgoldenrodyellow;*/
	display: flex;
}
.rome .rome1 .off i 
{
	font-size: 35px;
	padding: 60px 0 0 60px;
	color: white;
}
.rome .rome1 .off h1
{
	padding: 60px 0 0 20px;
	color: white;
}
.rome .rome1 .off1 
{
	height: 100px;
	width: 100%;
/*	background: lightcoral;*/
}
.rome .rome1 .off1 h2
{
	padding: 10px 0 0 40px;
	color: white;
}
.rome .rome1 .off1 p
{
	padding: 0px 0 0 80px;
	color: white;
}
.tour .offer .san 
{
	height: 200px;
	width: 90%;
	background: lightgoldenrodyellow;
	margin: 15px;
	border-radius: 10px;
	position:relative ;
}
.tour .offer .san1 
{
	height: 200px;
	width: 100%;
	background: rgba(300, 100, 100, .80);
/*	margin: 15px;*/
	border-radius: 10px;
	position:absolute ;
	top: 0;
	left: 0;
}
.offer .san img
{
	height: 200px;
	width: 100%;
	border-radius: 10px;
}
.san .san1 .off 
{
	height: 100px;
	width: 100%;
/*	background: lightgoldenrodyellow;*/
	display: flex;
}
.san .san1 .off i 
{
	font-size: 35px;
	padding: 60px 0 0 60px;
	color: white;
}
 .san .san1 .off h1
{
	padding: 60px 0 0 20px;
	color: white;
}
.san .san1 .off1 
{
	height: 100px;
	width: 100%;
/*	background: lightcoral;*/
}
.san .san1 .off1 h2
{
	padding: 10px 0 0 70px;
	color: white;
}
.san .san1 .off1 p
{
	padding: 0px 0 0 80px;
	color: white;
}
.tour .reserved
{
	height: 50px;
	width: 970px;
	/* background: lightseagreen; */
	position: absolute;
	top: 500px;
	left: 130px;
	border-top: 2px solid black;
}
.tour .reserved p 
{
	padding: 10px  0 0 250px;
	color: white;
}