 @media(max-width:1226px)
{
    .color .white{width: 600px;right: 20px;}
    .color .blue{width: 550px;}
} 

@media(max-width:1170px)
{
    .header .logo{width: 40%;}
    .header .text{width: 60%;}
    .navbar .menu{margin-right: 20px;}
    .nav .icon .shop i {margin-left: 10px;}

    .color .white{width: 560px;}
    .white .chair{margin: 10px 0 0 50px;}
    .color .blue{right: 550px;width: 450px;height: 400px;}
    .color .blue img{padding: 0 0px;}

    .team .teeth{width: 240px;height: 630px;}
    .teeth  img{width: 100%;}
    .team .teeth1{width: 240px;}
    .teeth1  img{width: 100%;}
    .team .teeth2{width: 240px;}
    .teeth2  img{width: 100%;}
    .team .teeth3{width: 240px;height: 630px;}
    .teeth3  img{width: 100%;}


    .input .detail .your input {width: 230px;}
    .input .detail1 .select select{width: 230px;}
    .input .detail1 .your input {width: 230px;}
    .details .Book .input .appoint button{margin: 10px 0 0 160px;}


    .view .general{width: 23%;}
    .general img{height: 70px;width: 70px;}
    .view .general p {font-size: 17px;}
    .view .general span{font-size: 17px;}


    .footer .copy p {text-align: start;font-size: 18px;}
    .footer .copy span{font-size: 18px;}
    .footer .last li {margin-right: 10px;}
}
@media(max-width:1000px)
{

    .main .care{width: 300px;height: 200px;top: 220px;}
    .care h2{font-size: 30px;}
    .care h1{font-size: 35px;}
    .main .dental{width: 500px;}
    .main .dental .implants{width: 50%;}
    .dental .implants .icon i {font-size: 50px;}
    .implants .txt span {font-size: 20px;}
    .implants .txt p {font-size: 17px}
    .main .dental .alignments{width: 50%;}
    .dental .alignments .icon i {font-size: 50px;}
    .alignments .txt span {font-size: 20px;}
    .alignments .txt p {font-size: 17px}
    .main .button{width: 200px;border-radius: 10px}
    .main .button p,.main .button i{font-size: 23px;}

    .color .white{width: 400px;}
    .color .white  h1{font-size: 25px;}
    .white .chair{margin: 10px 0 0 10px;width: 350px;}
    .white .chair .icon{width: 30%;}
    .white .chair .inp {width: 70%;}
    .color .blue{right: 410px;width: 300px;height: 430px;}
    .color .blue span{padding-left: 60px;}
    .color .blue img{padding: 0 0px;height: 80px;}


    .denti .speci{width: 90%;}

    .team{height: 1500px;}
    .team .new{height: 1500px;flex-wrap: wrap;}
    .team .teeth{width: 47%;}
    .team .teeth1{width: 47%;}
    .team .teeth2{width: 47%;}
    .team .teeth3{width: 47%;}


    .details{height: 1000px;}
    .details img{top: 500px;height: 500px;left: 200px;}
    .details .Book{width: 100%;top: 0;}
    .input .detail .your input {width: 330px;}
    .input .detail1 .select select{width: 330px;}
    .input .detail1 .your input {width: 330px;}
    .details .Book .input .appoint button{margin: 10px 0 0 260px;}


    .view{height: 700px;}
    .view .general{width: 48%;height: 100px;margin: 0;}
    .view .solutions{left: 30%;top: 670px;}


    .contact p{padding: 5px 0 0 80px;}
    .contact iframe{width: 50%;}
    .contact .kalak{width: 60%;}


    .phone{height: 600px;flex-wrap: wrap;}
    .phone .Address{width: 47%;}
    .phone .Address1{width: 47%;}
    .phone .Address2{width: 47%;}
   

    .main1{height: 1000px;flex-wrap: wrap;}
    .main1 .best{width: 60%;}
    .main1 .about {width: 30%;}
    .main1 .awards {width: 90%;margin: 0 auto;}
    .awards span{margin: 0;}
    .awards .text{left: 150px;}
    .main1 .social{width: 50%;margin: 0 30px;}


    .footer{display: inline;}
    .footer .copy{width: 100%;}
    .footer .copy p{margin: 0 150px;}
    .footer .last{width: 100%;}
}

@media(max-width:750px)
{
    .color{height: 1700px;}
    .color .blue{width: 90%;left: 30px;height: 300px;}
    .color .blue p {padding: 60px 30px 40px 40px;}
    .color .blue span{padding-left: 230px;}
    .color .white{width: 95%;top: 281px;height: 900px;}
    .color .white  h1{font-size: 35px;}
    .white .chair{width: 90%;;display: inline;}
    .white .chair .icon{width: 40%;}
    .white .chair .inp {width: 60%;}
}








