@media(max-width:1180px)
{
    .meeting .upcoming{width: 100%;margin: 20px auto;}
    .degree .bachelor{left: 10px;}
    .degree .about{right: 10px;}
    .facts .video{right: 10px;}
    .facts .percent{margin: 50px 0 0 20px;}
    .facts .percent1{left: 340px;}
    .touch .white{left: 40px;}
    .touch .red{right: 70px;}
    .touch .footer p{padding: auto;}
    .touch .footer h5{padding: 20px auto;}
}
@media(max-width:1050px)
{
    .header{background-size: 100% 100%;}
    .header .nav{background:  rgba(250,250,250,0.20);position: none;}
    .header .nav .edu{width: 30%}
    .header .nav .edu h1{color: white;padding: 30px 0 0 40px}
    .header .nav .icon {display: none;} 
    .header .nav .home{display: inline;width: 70%}
    .header .nav .home a {padding: 40px 0 0 5px}
    .header .student{margin: 50px 0 0 90px;width: 460px;}
    .header .student h3{padding: 80px 0 0 0 ;font-size: 19px;}
    .header .student h1{padding: 20px 0 0 0;font-size: 22px}
    .header .student p{ font-size: 17px; padding: 10px 0 0 0 ;}

    .best{width: 80%;top: 630px;left: 30px}
    .best .red{width: auto;height: 90%; margin: 10px 0 0 90px}
    .best .red img{ padding: 20px 0 0 140px;}
    .best .red h2{ padding: 10px 0 0 90px;}
    .best .red p {margin: 10px 0 20px -20px}
    .best .red .arrow{display: none;}
    .best .red2 .arrow1{display: none;}
    .best .red1{display: none;}
    .best .red2{width: auto;height: 90%; margin: 10px 0 0 10px;}
    .best .red2 img{ padding: 20px 0 0 160px;}
    .best .red2 h2{ padding: 10px 0 0 110px;}
    .best .red2 p {margin: 10px 0 20px -20px}

    .meeting{height: 3900px;}
    .meeting h2{padding: 350px 0 0 250px}
    .meeting .upcoming{margin: 30px 0 0px 130px;height: 2700px;width: 70%}
    .meeting .upcoming .categories{width: 100%;left: 0;height: 320px}
    .meeting .upcoming .categories h3{padding: 30px 0 0 40px}
    .meeting .upcoming .categories .text{width: 90%;height: 120px}
    .categories .text p {padding:20px  0 0 10px;display: inline;padding-top: 40px}
    .categories .text a{text-align: center;line-height: 30px}
    .upcoming .categories button{width: 300px;margin: 30px 0 0 20px;}

    .meeting .upcoming .new {top: 360px;width: 100%;left: 0;height: 2300px}
    .upcoming .new .meeting1{width: 100%;margin: 20px 0 0 0;right: 0;height: 480px}
    .upcoming .new .meeting1 img{height: 370px}
    .upcoming .new .meeting1 .meeting1-1{top: 350px}
    .new .meeting1 .meeting1-1 .dolar{top: -330px}
    .upcoming .new .meeting2{width: 100%;margin: -20px 0 0 0;right: 0;height: 480px}
    .upcoming .new .meeting2 img{height: 370px}
    .upcoming .new .meeting2 .meeting2-2{top: 350px}
    .new .meeting2 .meeting2-2 .dolar{top: -320px}

   
    .degree{height: 1350px;background-size:cover;}
    .degree .bachelor{top: 150px;left: 130px;width: 70%;height: 550px}
    .degree .bachelor .apply h2{padding: 30px 0 0 30px;font-size: 20px}
    .degree .bachelor .apply p{padding: 30px 0 0 30px;}
    .degree .bachelor .apply button{margin: 30px 0 0 30px;height: 40px}
    .degree .bachelor .apply1 h2{padding: 30px 0 0 30px;font-size: 20px}
    .degree .bachelor .apply1 p{padding: 30px 0 0 30px;}
    .degree .bachelor .apply1 button{margin: 30px 0 0 30px;height: 40px}
    .degree .about{top: 720px;left: 130px;width: 70%;height: 520px} 
    .degree .about .template{width: 100%}
    .degree .about .template h3{padding: 10px 0 0 30px}
    .degree .about .template p {padding: 20px 0 0 30px;font-size: 17px}
    .degree .about .html {width: 85%;margin: 0 0 0 30px}
    .degree .about .html h2{font-size: 20px;padding: 10px 0 0 20px}

    .popular h1{padding:60px 0 0 130px }
    .popular .pencil .morbi .arrow2 {display: none;}
    .popular .pencil .morbi .arrow3 {display: none;}
    .popular .pencil{width: 70%;height:430px;margin: 30px 0 0 115px;border-top:1px solid gray;}
    .popular .pencil .morbi2{display: none;}
    .popular .pencil .morbi3{display: none;}
    .popular .pencil .morbi{width: 50%;height: 90%; margin: 40px 0 0 5px}
    .popular .pencil .morbi img{height: 220px}
    .popular .pencil .morbi p{padding: 20px 0 0 40px}
    .pencil .morbi .white .star{padding: 10px 0 0 5px}
    .pencil .morbi .white .dolar i {padding: 10px 0 0 90px}
    .pencil .morbi .white .dolar p {padding: 10px 0 0 5px}
    .popular .pencil .morbi1{width: 50%;height: 90%; margin: 40px 0 0 5px}
    .popular .pencil .morbi1 img{height: 220px}
    .popular .pencil .morbi1 p{padding: 20px 0 0 40px}
    .pencil .morbi1 .white .star{padding: 10px 0 0 5px}
    .pencil .morbi1 .white .dolar i {padding: 10px 0 0 90px}
    .pencil .morbi1 .white .dolar p {padding: 10px 0 0 5px}
    .popular .circle{margin: 30px 0 0 400px}


    .facts{height: 1300px;background-size: cover;}
    .facts h1{padding: 80px 0 0 130px}
    .facts .percent{width: 70%;margin:50px 0 0 130px;height: 310px }
    .facts .percent .yellow{width: 100%;margin: 20px 0 0 0;}
    .facts .percent .yellow p{padding: 30px 0 0 280px;} 
    .facts .percent .yellow h2{padding: 10px 0 0 220px;}
    .facts .percent1{width: 70%;margin:50px 0 0 130px;height: 330px;top:470px;left:0 }
    .facts .percent1 .yellow1{width: 100%;margin: 20px 0 0 0;}
    .facts .percent1 .yellow1 p{padding: 30px 0 0 280px;} 
    .facts .percent1 .yellow1 h2{padding: 10px 0 0 250px;}
    .facts .video{top: 890px;left: 130px;width: 70%}
    .facts .video img{padding: 130px 0 0 290px}


    .touch{height: 1550px}
    .touch .white{width: 70%;left: 130px;height: 600px}
    .touch .white .table{width: 85%;margin: 20px 0 0 40px;height: 450px}
    .touch .white .table .your{width: 100%;height: 70px;}
    .touch .white .table .your input{width: 100%;margin:20px 0 0 0}
    .touch .white .table .message{margin: 0}
    .touch .white .table .message input{width: 100%;margin: 20px 0 0 0px}
    .touch .white .table  button{margin: 20px 0 0 10px}
    .touch .red{top: 730px;left: 130px;width: 70%}
    .touch .footer{margin: 800px 0 0 0;height: 130px}
    .touch .footer p {padding:50px 0 0 240px;font-size:15px }
    .touch .footer h5 {padding: 10px 0 0 380px;font-size: 17px}

}



@media(max-width:750px)
{
    .header{background-size: 100% 100%;}
    .header .nav{background: white;position: none;}
    .header .nav .edu{width: 70%}
    .header .nav .edu h1{color: black;padding: 30px 0 0 100px}
    .header .nav .icon {display:inline;height: 100px;width: 30%;} 
    .header .nav .icon i {display: block;font-size: 33px;margin: 30px 0 0 100px}
    .header .nav .home{display: none;}
    .header .student{margin: 70px 0 0 90px;width: 460px;}
    .header .student h3{padding: 80px 0 0 0 ;font-size: 19px;}
    .header .student h1{padding: 20px 0 0 0;font-size: 22px}
    .header .student p{ font-size: 17px; padding: 10px 0 0 0 ;}

    .best{width: 60%;top: 630px;left:150px;height: 350px}
    .best .red{width: auto;height: 95%; margin: 10px 0 0px 0px}
    .best .red img{ padding: 20px 0 0 80px;}
    .best .red h2{ padding: 10px 0 0 20px;}
    .best .red p {margin: 10px 0 20px -20px}
    .best .red .arrow{display: none;}
    .best .red .arrow1{display: none;}
    .best .red1{display:inline;width: auto;height: 95%; margin: 10px 0 145px 10px}
    .best .red1 img{ padding: 20px 0 0 80px;}
    .best .red1 h2{ padding: 10px 0 0 20px;}
    .best .red1 p {margin: 10px 0 20px -20px}
    .best .red2{display: none;}

    .meeting{height: 3500px;}
    .meeting h2{padding: 420px 0 0 200px}
    .meeting .upcoming{margin: 30px 0 0px 150px;height: 2200px;width: 60%}
    .meeting .upcoming .categories{width: 100%;left: 0;height: 320px}
    .meeting .upcoming .categories h3{padding: 30px 0 0 40px}
    .meeting .upcoming .categories .text{width: 90%;height: 120px}
    .categories .text p {padding:20px  0 0 10px;display: inline;padding-top: 40px}
    .categories .text a{text-align: center;line-height: 30px}
    .upcoming .categories button{width: 250px;margin: 30px 0 0 20px;}

    .meeting .upcoming .new {top: 360px;width: 100%;left: 0;height: 1800px}
    .upcoming .new .meeting1{width: 100%;margin: 20px 0 0 0;right: 0;height: 400px}
    .upcoming .new .meeting1 img{height: 270px}
    .upcoming .new .meeting1 .meeting1-1{top: 250px}
    .new .meeting1 .meeting1-1 .dolar{top: -230px}
    .upcoming .new .meeting2{width: 100%;margin: -10px 0 0 0;right: 0;height: 400px}
    .upcoming .new .meeting2 img{height: 270px}
    .upcoming .new .meeting2 .meeting2-2{top: 250px}
    .new .meeting2 .meeting2-2 .dolar{top: -230px}

    .degree{height: 1350px;background-size:cover;}
    .degree .bachelor{top: 150px;left: 150px;width: 60%;height: 550px}
    .degree .bachelor .apply h2{padding: 30px 0 0 30px;font-size: 20px}
    .degree .bachelor .apply p{padding: 30px 0 0 30px;}
    .degree .bachelor .apply button{margin: 30px 0 0 30px;height: 40px}
    .degree .bachelor .apply1 h2{padding: 30px 0 0 30px;font-size: 20px}
    .degree .bachelor .apply1 p{padding: 30px 0 0 30px;}
    .degree .bachelor .apply1 button{margin: 30px 0 0 30px;height: 40px}
    .degree .about{top: 720px;left: 150px;width: 60%;height: 520px} 
    .degree .about .template{width: 100%}
    .degree .about .template h3{padding: 10px 0 0 30px}
    .degree .about .template p {padding: 20px 0 0 30px;font-size: 17px}
    .degree .about .html {width: 85%;margin: 0 0 0 30px}
    .degree .about .html h2{font-size: 20px;padding: 10px 0 0 20px}

    .popular h1{padding:60px 0 0 150px }
    .popular .pencil .morbi .arrow2 {display: none;}
    .popular .pencil .morbi .arrow3 {display: none;}
    .popular .pencil{width: 70%;height:430px;margin: 30px 0 0 115px;border-top:1px solid gray; }
    .popular .pencil .morbi2{display: none;}
    .popular .pencil .morbi3{display: none;}
    .popular .pencil .morbi{width: 50%;height: 90%; margin: 40px 0 0 5px}
    .popular .pencil .morbi img{height: 220px}
    .pencil .morbi .white .star{padding: 0 0 0 0px}
    .pencil .morbi .white .star i{padding: 0 0 0 0px}
    .pencil .morbi .white .dolar i {padding: 0 0 0 40px}
    .pencil .morbi .white .dolar p {padding: 0 0 0 5px}
    .popular .pencil .morbi1{width: 50%;height: 90%; margin: 40px 0 0 5px}
    .popular .pencil .morbi1 img{height: 220px}
    .pencil .morbi1 .white .star{padding: 0 0 0 0px}
    .pencil .morbi1 .white .star i{padding: 0 0 0 0px}
    .pencil .morbi1 .white .dolar i {padding: 0 0 0 40px}
    .pencil .morbi1 .white .dolar p{padding: 0 0 0 5px}
    .popular .circle{margin: 30px 0 0 335px}


    .facts{height: 1300px;background-size: cover;}
    .facts h1{padding: 80px 0 0 150px}
    .facts .percent{width: 60%;margin:50px 0 0 150px;height: 310px }
    .facts .percent .yellow{width: 100%;margin: 20px 0 0 0;}
    .facts .percent .yellow p{padding: 30px 0 0 180px;} 
    .facts .percent .yellow h2{padding: 10px 0 0 120px;}
    .facts .percent1{width: 60%;margin:50px 0 0 150px;height: 330px;top:470px;left:0 }
    .facts .percent1 .yellow1{width: 100%;margin: 20px 0 0 0;}
    .facts .percent1 .yellow1 p{padding: 30px 0 0 180px;} 
    .facts .percent1 .yellow1 h2{padding: 10px 0 0 140px;}
    .facts .video{top: 890px;left: 150px;width: 60%}
    .facts .video img{padding: 140px 0 0 190px}


    .touch{height: 1550px}
    .touch .white{width: 60%;left: 150px;height: 600px}
    .touch .white .table{width: 80%;margin: 20px 0 0 40px;height: 450px}
    .touch .white .table .your{width: 100%;height: 70px;}
    .touch .white .table .your input{width: 100%;margin:20px 0 0 0}
    .touch .white .table .message{margin: 0}
    .touch .white .table .message input{width: 98%;margin: 0 0 0 2px}
    .touch .white .table  button{margin: 0 0 0 10px}
    .touch .red{top: 730px;left: 150px;width: 60%}
    .touch .footer{margin: 800px 0 0 0;height: 130px}
    .touch .footer p {padding:50px 0 0 140px;font-size:15px }
    .touch .footer h5 {padding: 10px 0 0 280px;font-size: 17px}

}



@media(max-width:500px)
{
    .header{background-size: 100% 100%;}
    .header .nav{background: white;position: none;}
    .header .nav .edu{width: 70%}
    .header .nav .edu h1{color: black;padding: 30px 0 0 30px}
    .header .nav .icon {display:inline;height: 100px;width: 30%;} 
    .header .nav .icon i {display: block;font-size: 33px;margin: 30px 0 0 80px}
    .header .nav .home{display: none;}
    .header .student{margin: 40px 0 0 10px;width: 420px}
    .header .student h3{padding: 100px 0 0 0 ;font-size: 17px;}
    .header .student h1{padding: 0px 0 0 0;font-size: 20px}
    .header .student p{ font-size: 15px; padding: 10px 0 0 0 ;}

    .best{width: 100%;top: 650px;left: 0}
    .best .red{width: 95%;margin:10px;height: 250px}
    .best .red img{ padding: 20px 0 0 180px;}
    .best .red h2{ padding: 10px 0 0 130px;}
    .best .red p {margin: 10px 0 40px 20px}
    .best .red .arrow{display: none;}
    .best .red .arrow1{display: none;}
    .best .red1{display: none;}
    .best .red2{display: none;}

    .meeting{height: 3200px;}
    .meeting h2{padding: 420px 0 0 90px}
    .meeting .upcoming{margin: 20px 0 0 10px;height: 2200px;width: 95%}
    .meeting .upcoming .categories{width: 100%;left: 0;height: 320px}
    .meeting .upcoming .categories h3{padding: 30px 0 0 40px}
    .meeting .upcoming .categories .text{width: 90%;height: 120px}
    .categories .text p {padding:20px  0 0 10px;display: inline;padding-top: 40px}
    .categories .text a{text-align: center;line-height: 30px}
    .upcoming .categories button{width: 300px;margin: 30px 0 0 20px;}

    .meeting .upcoming .new {top: 360px;width: 100%;left: 0;height: 1800px}
    .upcoming .new .meeting1{width: 100%;margin: 20px 0 0 0;right: 0;height: 400px}
    .upcoming .new .meeting1 img{height: 270px}
    .upcoming .new .meeting1 .meeting1-1{top: 250px}
    .new .meeting1 .meeting1-1 .dolar{top: -230px}
    .upcoming .new .meeting2{width: 100%;margin: -10px 0 0 0;right: 0;height: 400px}
    .upcoming .new .meeting2 img{height: 270px}
    .upcoming .new .meeting2 .meeting2-2{top: 250px}
    .new .meeting2 .meeting2-2 .dolar{top: -230px}

    .degree{height: 1450px;background-size:cover;}
    .degree .bachelor{top: 150px;left: 10px;width: 95%}
    .degree .bachelor .apply h2{padding: 30px 0 0 30px;font-size: 20px}
    .degree .bachelor .apply p{padding: 30px 0 0 30px;}
    .degree .bachelor .apply button{margin: 30px 0 0 30px;}
    .degree .bachelor .apply1 h2{padding: 30px 0 0 30px;font-size: 20px}
    .degree .bachelor .apply1 p{padding: 30px 0 0 30px;}
    .degree .bachelor .apply1 button{margin: 30px 0 0 30px;}
    .degree .about{top: 720px;left: 10px;width: 95%;height: 520px} 
    .degree .about .template{width: 100%}
    .degree .about .template h3{padding: 10px 0 0 30px}
    .degree .about .template p {padding: 20px 0 0 30px;font-size: 17px}
    .degree .about .html {width: 85%;margin: 0 0 0 30px}
    .degree .about .html h2{font-size: 20px;padding: 10px 0 0 20px}

    .popular h1{padding:60px 0 0 10px }
    .popular .pencil .morbi .arrow2 {display: none;}
    .popular .pencil .morbi .arrow3 {display: none;}
    .popular .pencil{margin: 0;width: 95%;margin: 10px 0 0 10px;border-top:1px solid gray; }
    .popular .pencil .morbi1{display: none;}
    .popular .pencil .morbi2{display: none;}
    .popular .pencil .morbi3{display: none;}
    .popular .pencil .morbi{width: 100%;margin: 40px 0 0 0;height: 370px}
    .popular .pencil .morbi img{height: 250px}
    .pencil .morbi .white .star{padding: 0 0 0 30px}
    .pencil .morbi .white .dolar i {padding: 0 0 0 150px}
    .popular .circle{margin: 50px 0 0 180px}


    .facts{height: 1300px;background-size: cover;}
    .facts h1{padding: 80px 0 0 10px}
    .facts .percent{width: 95%;margin:50px 0 0 10px;height: 310px }
    .facts .percent .yellow{width: 100%;margin: 30px 0 0 0;}
    .facts .percent .yellow p{padding: 30px 0 0 180px;} 
    .facts .percent .yellow h2{padding: 10px 0 0 120px;}
    .facts .percent1{width: 95%;margin:80px 0 0 10px;height: 330px;top:470px;left:0 }
    .facts .percent1 .yellow1{width: 100%;margin: 20px 0 0 0;}
    .facts .percent1 .yellow1 p{padding: 30px 0 0 180px;} 
    .facts .percent1 .yellow1 h2{padding: 10px 0 0 140px;}
    .facts .video{top: 900px;left: 10px;width: 95%}
    .facts .video img{padding: 130px 0 0 180px}


    .touch{height: 1550px}
    .touch .white{width: 95%;left: 10px;height: 600px}
    .touch .white .table{width: 80%;margin: 20px 0 0 40px;height: 450px}
    .touch .white .table .your{width: 100%;height: 70px;}
    .touch .white .table .your input{width: 100%;margin:20px 0 0 0}
    .touch .white .table .message{margin: 0}
    .touch .white .table .message input{width: 98%;margin: 0 0 0 2px}
    .touch .white .table  button{margin: 0 0 0 10px}
    .touch .red{top: 730px;left: 10px;width: 95%}
    .touch .footer{margin: 800px 0 0 0;height: 130px}
    .touch .footer p {padding:50px 0 0 15px;font-size:13px }
    .touch .footer h5 {padding: 10px 0 0 150px;font-size: 15px}
}

@media(max-width:375px)
{
    
}