*{box-sizing: border-box;margin: 0;padding: 0;}
body{overflow-x: hidden;}

.header
{
	height: 75px;
	width:100% ;
	background: lightblue;
	display: flex;
}
.header .logo
{
	height: 75px;
	width: 50%;
	background: lightcoral;
}
.header .logo .fa-list
{
	display: none;
}
.header .logo img
{
	height: 74px ;
	width: 50%;
}

.header .text
{
	height: 75px;
	width: 50%;
/*	background: lightcyan;*/
	display: flex;
}

.header .text .call
{
	height: 75px;
	width: 50%;
/*	background: lightgrey;*/
	display: flex;
}	

.header .text .call .icon i 
{
	font-size: 55px;
	padding: 10px 10px;
	color: blue;
}
.header .text .call .txt 
{
	height: 75px;
	width: 80%;
/*	background: lightcoral;*/
	padding-top: 7px;
}
.header .text .phone
{
	height: 75px;
	width: 50%;
/*	background: lightgrey;*/
	display: flex;
}
.header .text .phone .icon i 
{
	font-size: 55px;
	padding: 10px 10px;
	color: blue;
}
.header .text .phone .txt 
{
	height: 75px;
	width: 80%;
/*	background: lightcoral;*/
	padding-top: 7px;
}
.nav
{
	height: 50px;
	width: 100%;
	background: whitesmoke;
	display: flex;
	border-top: 1px solid grey;
	position: sticky;
	box-shadow: 0 0 5px grey;
	margin: 0px 0 0 0 ;
	top: 0px;
	left: 0;
	z-index: 5;
}
.nav .navbar
{
	height: 50px;
	width: 50%;
/*	background: lightcoral;*/
	text-align: center;

	line-height: 50px;
}
.navbar .menu
{
	list-style: none;
	display: inline;
	position: relative;
	margin-right: 30px;
}
.navbar .menu a
{
	text-decoration: none;
	color: black;
	font-size: 15px;
/*	font-family: sans-serif;*/
}

.navbar .menu .submenu
{
	height: auto;
	width: 250px;
	background: whitesmoke;
	position: absolute;
	top: 190%;
	left: 0;
	background:#fff;
	visibility: hidden;
	transition: .1s;
	z-index: 5;
	box-shadow: 0 0 10px grey;
}
.navbar .menu .submenu li
{
	list-style: none;
	display: block;
	text-align: left;
	line-height: 30px;
}

.navbar .menu .submenu a 
{
	font-weight: normal;
	padding: 0 0 0 15px;
}
.menu:hover .submenu
{
	visibility: visible;
}
.navbar .menu .submenu .fa 
{
	display: block;
	list-style: none;
	text-align: left;
	line-height: 30px;
	position: relative;
}
.submenu .fa .submenu1
{
	 height: auto;
	 width: 250px;
	 background: black;
	 position: absolute;
  	top: 5px;
  	right: -250px;
  	background:#fff;
  	visibility: hidden;
  	transition: .1s;
	  z-index: 5;
  	box-shadow: 0 0 10px grey;
}
.fa:hover .submenu1
{
   visibility: visible;
}
.submenu a:hover
{
	color: #bc74a5 ;
}
.nav .icon
{
	height: 50px;
	width: 50%;
/*	background: lightgreen;*/
	text-align: right;
	line-height: 50px;
	display: flex;
}
.nav .icon .facebook
{
	height: 50px;
	width: 80%;
/*	background: lightcoral;*/
	padding-right: 20px;
	border-right: 1px solid black;

}
.nav .icon .facebook i 
{
	margin-left:20px ;
	color: blue;
}
.nav .icon .facebook i:hover
{
	color:#bc74a5 ;
}
.nav .icon .shop
{
	height: 50px;
	width: 20%;
/*	background: lightcyan;*/
	line-height: 50px;
	padding-right: 40px;
}
.nav .icon .shop i 
{
	margin-left: 20px;
}
.nav .icon .shop i:hover
{
	color: #bc74a5;
}
.main 
{
	height: 800px;
	width: 100%;
/*	background: lightcoral ;*/
	position: relative;

}
.main img
{
	height: 100%;
	width: 100%;
}
.main .care
{
	height: 300px;
	width: 600px;
/*	background: lightcoral;*/
	position: absolute;
	top: 70px;
	left: 50px;
	
}
.care h2
{
	font-size: 40px;
	color: #0e54ae;
	word-spacing: 5px;
	padding: 30px 0;
}
.care h1
{
	font-size: 75px;
	word-spacing: 10px;
	letter-spacing: 3px;
	color: #0e54ae;
}
.main .dental
{
	height: 150px;
	width: 700px;
/*	background: lightpink;*/
	position: absolute;
	top: 430px;
	left:30px;
	display: flex;

}
.main .dental .implants
{
    height: 150px;
    width: 350px;
/*    background: lightcoral;*/
    display: flex;
}
.dental .implants .icon
{
	height: 150px;
	width: 100px;
/*	background: blue;*/
	text-align: center;
	line-height: 120px;
}
.dental .implants .icon i 
{
	font-size: 70px;
	color: #2554C7;
}

.dental .implants .txt
{
	height: 150px;
	width: 250px;
/*	background: skyblue;*/
}
.implants .txt span 
{
    font-size: 30px;
    color: #2554C7;
}
.implants .txt p 
{
	font-size: 20px;
	padding-top: 15px;
}

.main .dental .alignments
{
	 height: 150px;
    width: 350px;
    display: flex;
}
.dental .alignments .icon
{
	height: 150px;
	width: 100px;
/*	background: blue;*/
	text-align: center;
	line-height: 120px;
}
.dental .alignments .icon i 
{
	font-size: 70px;
	color: #2554C7;
}

.dental .alignments .txt
{
	height: 150px;
	width: 250px;
/*	background: skyblue;*/
}
.alignments .txt span 
{
    font-size: 30px;
    color: #0e54ae;
}
.alignments .txt p 
{
	font-size: 20px;
	padding-top: 15px;
}
.main .button
{
	height: 60px;
	width: 250px;
	background: #BC74A5;
	position: absolute;
	top: 625px;
	left: 50px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	line-height: 50px;
	box-shadow: 0 0 5px grey;	
	overflow: hidden;
	z-index: 0;
}
.main .button::after
{
	content: "";
	height: 100px;
	width: 300px;
	background: #0e54ae;
	box-shadow: 0 0 30px #0e54ae;
	filter: blur(50px);
	position: absolute;
	top: 0;
	left: 110%;
	transition: .2s;
	z-index: -1;
}
.main .button:hover::after
{
	left: 20%;
}
.main .button:hover
{
	top: 623px;
}
.main .button p
{
	font-size: 25px;
	/* padding-left: 20px;
	padding-top: 20px; */
	margin: 5px auto;
	color: white;
}
.main .button i
{
	font-size: 25px;
	margin: 15px auto;
	color: white;
}
.main .button i:hover
{
	font-size: 30px;
}



.color
{
	height: 550px;
	width: 100%;
	background: lightcoral;
    position: relative;
}
.color .white
{
  height: 500px;
  width: 650px;
  background: whitesmoke;
  position: absolute;
  top: -70px;
  right: 20px;
/*  margin: 20px;*/
  box-shadow: 0 0 15px grey;
}
.color .white  h1
{
  font-size: 35px;
  color:#0e54ae ;
  margin: 40px 20px 0px 100px;

}
.white .chair
{
  height: 400px;
  width: 500px;
/*  background: whitesmoke;*/
  margin: 10px 0 0 90px;
  display: flex;
  border-top: 1px solid grey;
}
.white .chair .icon
{
  height: 400px;
  width: 40%;
/*  background: lightgreen;*/
}
.white .chair .icon img
{
  height: 300px;
  width: 90%;
  padding-top: 70px;
}

.white .chair .inp 
{
  height: 400px;
  width: 60%;
/*  background: grey;*/
}
.inp input
{
  margin: 10px;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px grey;
}
.inp select
{
  margin: 10px;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px grey;
}
.inp button
{
  margin: 10px;
  height: 50px;
  width: 250px;
  font-weight:bold ;
  background:#bc74a5;
  position: relative;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px grey;
  color: whitesmoke;
  overflow: hidden;
  z-index: 0;
}
.inp button::after
{
	content: "";
	height: 100px;
	width: 300px;
	background: #0e54ae;
	box-shadow: 0 0 30px #0e54ae;
	filter: blur(50px);
	position: absolute;
	top: 0;
	left: 100%;
	transition: .2s;
	z-index: -1;
}
.inp button:hover::after
{
	left: 20%;
}
.inp button:hover
{
	margin: 8px;
}
.color .blue
{
  height: 350px;
  width: 600px;
  background: rgba(14, 84, 174, 1);;
  position: absolute;
  top: -50px;
  left: 0;
  margin: 20px;

}
.color .blue p 
{
  font-size: 25px;
  padding: 100px 30px 40px 40px;
}
.color .blue span
{
  height: 100px ;
  width: 200px;
  padding-left: 200px;
}
.color .blue img
{
  height: 100px ;
  width: 200px;
  padding: 0 0 0 30px;

}
.excellence
{
  height: 650px;
  width: 100%;
/*  background: lightcoral;*/
 
}
.excellence .view
{
  height: 120px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
}
.excellence p 
{
	font-size: 35px;
	color: rgba(188, 116, 165, 1);
	padding: 10px 0 0px 50px;
}
.excellence span 
{
	font-size: 55px;
	font-weight: bold;
	color:rgba(14, 84, 174, 1) ;
	
}
.excellence button
{
	height: 60px;
	width: 175px;
	font-weight: bold;
	margin: 30px;
	background:rgba(14, 84, 174, 1) ;
	color:#fff ;
	position: relative;
	border: none;
	border-radius: 10px;
	overflow: hidden;
	z-index: 0;
}
.excellence button::after
{
	content: "";
	height: 100px;
	width: 300px;
	background: #bc74a5;
	filter: blur(30px);
	position: absolute;
	top: -10px;
	left: 100%;
	box-shadow: 0 0 30px #bc74a5;
	transition: .2s;
	z-index: -1;
}
.excellence button:hover::after
{
	margin: 10px;
	left: 40%;
}
.excellence button:hover
{
	margin: 28px;
}
.excellence .service
{
	height: 500px;
	width:95%;
/*	background: lightgreen;*/	
	margin: 20px 0 0px 35px;
	display: flex;
}
.excellence .service .service1
{
	height: 450px;
	width: 290px;
	background: rgba(188, 116, 165, 1);
	border: 1px solid black;
	margin: 20px 0 0 10px;
	position: relative;
}
.service1 a img 
{
	height: 230px;
	width: 100%;
}

.service1 .dant
{
	height: 100px;
	width: 100px;
/*	background: lightcoral;*/
	position: absolute;
	top: 180px;
	left: 30px;
	box-shadow:0 0 5px grey ;

}
.service1 .dant img 
{
	height: 100px;
	width: 100px;
	background: #fff;
}
.service1 h1
{
	padding: 55px 0 0px 28px ;
	color: #fff;
}
.service1 p 
{
	font-size: 18px;
	margin: 5px 0 5px -15px;
	color:#fff;
}
.denti
{
	height: 600px ;
	width: 100%;
	background: white;
	position: relative;
}
.denti img
{
	height: 600px;
	width: 90%;
	position: absolute;
	top: 0;
	right: 0;

}
.denti .speci
{
	height: 450px;
	width: 50%;
/*	background: lightcyan;*/
    position: absolute;
    top:50px;
    left: 30px;
    text-align: center;
}
.speci h3
{
	font-size: 25px;
	color: #bc74a5;
	padding: 10px 0 30px 0px;

}
.speci h1
{
	font-size: 40px;
	color: #0e54ae;
	padding: 0 10px 0 0 ;
}
.speci p 
{
	font-size: 20px;
	padding: 30px;

}
.speci span
{
	font-size: 25px;
	font-weight: bold;
	color:#bc74a5 ;
}
.speci img
{
	height: 200px;
	width: 250px;
	position:absolute;
	top: 270px;
	left: 180px;
}



.team
{
  height: 700px;
  width: 100%;
 background: lightcoral;
  position: relative;
}
.team .teeth
{
	height: 600px;
	width: 280px;
	background: lightgrey;
	position: absolute;
	top: -40px;
	left: 20px;
}
.teeth img
{
	height: 270px;
	width: 280px;
}
.teeth h2
{
	padding: 15px 0 0px 30px;
	font-size: 25px;
	color:#0e54ae ;
}
.teeth span
{
	font-size: 35px;
	color:#bc74a5 ;
	font-weight: bold;
	padding: 0 0 0 30px;
}
.teeth p 
{
	padding: 5px 0 0 30px;
	font-size: 20px;
}
.team .icon2
{
	height: 50px;
	width: 80%;
/*    background: lightgreen;*/
    margin: 15px;
    display: flex;
}
.icon2 .twitter1
{
	height: 50px;
	width: 50px;
	background: whitesmoke;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
	margin: 2px;
}
.teeth .icon2 .twitter1 i 
{
	font-size: 20px;

}

.team .teeth1
{
	height: 650px;
	width: 280px;
	background: lightgrey;
	position: absolute;
	top: -40px;
	left: 320px;
}
.teeth1 img
{
	height: 270px;
	width: 280px;
}
.teeth1 h2
{
	padding: 15px 0 0px 30px;
	font-size: 25px;
	color:#0e54ae ;
}
.teeth1 span
{
	font-size: 35px;
	color:#bc74a5 ;
	font-weight: bold;
	padding: 0 0 0 30px;
}
.teeth1 p 
{
	padding: 5px 0 0 30px;
	font-size: 20px;
}
.team .icon3
{
	height: 50px;
	width: 80%;
/*    background: lightgreen;*/
    margin: 15px;
    display: flex;
}
.icon3 .facebook1
{
	height: 50px;
	width: 50px;
	background: whitesmoke;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
	margin: 2px;
}
.icon3 .facebook1 i 
{
	font-size: 20px;
}
.team .teeth2
{
	height: 650px;
	width: 280px;
	background:lightgrey; 
	position: absolute;
	top: -40px;
	left: 620px;
}
.teeth2 img
{
	height: 270px;
	width: 280px;
}
.teeth2 h2
{
	padding: 15px 0 0px 30px;
	font-size: 25px;
	color:#0e54ae ;
}
.teeth2 span
{
	font-size: 35px;
	color:#bc74a5 ;
	font-weight: bold;
	padding: 0 0 0 30px;
}
.teeth2 p 
{
	padding: 5px 0 0 30px;
	font-size: 20px;
}
.team .icon4
{
	height: 50px;
	width: 80%;
/*    background: lightgreen;*/
    margin: 15px;
    display: flex;
}
.icon4 .face
{
	height: 50px;
	width: 50px;
	background: whitesmoke;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
	margin: 2px;
}
.icon4 .face i 
{
	font-size: 20px;
}
.team .teeth3
{
	height: 600px;
	width: 280px;
	background: lightgrey;
	position: absolute;
	top: -40px;
	left: 920px;
}
.teeth3 img
{
	height: 270px;
	width: 280px;
}
.teeth3 h2
{
	padding: 15px 0 0px 30px;
	font-size: 25px;
	color:#0e54ae ;
}
.teeth3 span
{
	font-size: 35px;
	color:#bc74a5 ;
	font-weight: bold;
	padding: 0 0 0 30px;
}
.teeth3 p 
{
	padding: 5px 0 0 30px;
	font-size: 20px;
}
.team .icon5
{
	height: 50px;
	width: 80%;
/*    background: lightgreen;*/
    margin: 15px;
    display: flex;
}
.icon5 .facebo
{
	height: 50px;
	width: 50px;
	background: whitesmoke;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
	margin: 2px;
}
.icon5 .facebo i 
{
	font-size: 20px;
}
.details
{
	height: 700px;
	width: 100%;
/*	background: lightgoldenrodyellow;*/
	position: relative;
}
.details img
{
	position: absolute;
	top: 0;
	left: 0;
	height: 600px;
	width: 60%;
}
.details .Book
{
	height:500px;
	width: 50%;
	background: lightpink;
	position: absolute;
	top: 50px;
	right: 0;

}
.details .Book .input
{
	height: 300px;
	width: 100%;
	background: lightcoral;
	border-top: 1px solid;
}
.details .Book .input .detail
{
	height: 100px;
	width: 100%;
	background: lightgrey;
	display: flex;
}
.input .detail .your
{
	height: 100px;
	width: 50%;
	/* background: lightpink; */
}
.input .detail .your p 
{
	padding: 15px 0 0 10px;
	font-size: 18px;

}
.input .detail .your input 
{
	margin: 0px 0 0 10px;
	border-radius:10px ;
	box-shadow: 5px;
	width: 280px;
}
.details .Book .input .detail1
{
	height: 100px;
	width: 100%;
/*	background: lightgrey;*/
	display: flex;
}
.input .detail1 .select
{
	height: 100px;
	width: 50%;
/*	background: lightpink;*/
}
.input .detail1 .select p 
{
	padding: 10px 0 0 10px;
	font-size: 18px;

}
.input .detail1 .select select 
{
	margin: 0px 0 0 10px;
	border-radius:10px ;
	box-shadow: 5px;
	width: 280px;
}
.input .detail1 .your
{
	height: 100px;
	width: 50%;
/*	background: lightpink;*/
}
.input .detail1 .your p 
{
	padding: 10px 0 0 10px;
	font-size: 18px;

}
.input .detail1 .your input 
{
	margin: 0px 0 0 10px;
	border-radius:10px ;
	box-shadow: 5px;
	width: 280px;
}
.details .Book .input .appoint
{
	height: 100px;
	width: 100%;
/*	background: lightgrey;*/
}
.details .Book .input .appoint button
{
	height: 60px;
	width: 220px;
	margin: 10px 0 0 200px;
}
.Book h2 
{
	font-size: 25px;
    color:#bc74a5 ;
}
.Book span
{
	font-size: 55px;
	font-weight: bold;
	color: #0e54ae;
}
.Book p 
{
	margin: 5px;
	font-size: 20px;
}
.details input
{
	height: 50px;
	width: 250px;
	box-shadow: 0 0 15px grey;
	border: none;
}
.details select
{
	height: 50px;
	width: 250px;
	box-shadow: 0 0 15px grey;
	border: none;
}
.details .Book button
{
	height: 65px;
	width: 200px;
	margin: 30px 0 0 40px;
	background: #0e54ae;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px grey;
  overflow: hidden;
  z-index: 0;
}
.details .Book button::after
{
	content: "";
	height: 100px;
	width: 300px;
	background: #bc74a5;
	filter: blur(30px);
	position: absolute;
	top: -10px;
	left: 100%;
	box-shadow: 0 0 30px #bc74a5;
	transition: .2s;
	z-index: -1;
}
.details .Book button:hover::after
{
	left: 40%;
}




.view
{
	height: 400px;
	width: 100%;
	background: lightgrey;
	display: flex;
	flex-wrap: wrap;
	position: relative;

}
.view .general
{
	height: 190px;
	width: 24%;
/*	border: 2px solid black;*/
	margin: 5px;
	display: flex;
}
.general img
{
	height: 100px;
	width: 100px;
	padding-top:20px ;
}
.view .general p 
{
	font-size: 20px;
	padding: 10px 0 0 10px;
	font-weight: bold;
}
.view .general span
{
	font-size: 20px;
	font-weight: normal;
}
.view .solutions
{
	height: 60px;
	width: 250px;
	background: #bc74a5;
	color: whitesmoke;
	position: absolute;
	top: 370px;
	left: 40%;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
	border-radius: 10px;
	box-shadow: 0 0 5px grey;
	overflow: hidden;
	z-index: 1;
}
.view .solutions::after
{
	content: "";
	height: 100px;
	width: 300px;
	background: #0e54ae;
	filter: blur(50px);
	position: absolute;
	top: 0;
	left: 100%;
	box-shadow: 0 0 30px #0e54ae;
	transition: .2s;
	z-index: -1;
}
.view .solutions:hover::after
{
	left: 20%;
}
.view .solutions:hover
{
	top:368px ;
}
.view .solutions a 
{
	text-decoration: none;
	color: whitesmoke;
}
.contact
{
	height: 1100px;
	width: 100%;
/*	background: lightcoral;*/
	position: relative;
	z-index: 0;
}
.contact h1 
{
	text-align: center;
	font-size: 35px;
	padding-top:150px ;
	color: #bc74a5;
}
.contact span
{
	color:#0e54ae ;
}
.contact p 
{
	font-size: 18px;
    padding: 5px 0 0px 300px;
}
.contact iframe
{
	height: 800px;
	width: 70%;
	padding-top: 50px;
}
.contact .kalak
{
	height: 620px;
	width: 40%;
	background:#0e54ae  ;
	position: absolute;
	top: 320px;
	right: 20px;
}
.contact .kalak h1 
{
	text-align: left;
	padding: 40px 0 0 40px;
	color: #fff;
}
.contact .kalak p 
{
	padding: 10px 0 0 40px;
	color: #fff;
}
.contact .kalak .schedule
{
	height: 300px;
	width: 400px;
/*	background: lightcoral;/*/
	margin: 20px 0 0 40px;
}
.schedule .var 
{
	display: flex;
	height: 50px;
	width: 400px;
/*	background: lightgreen;*/
	border-bottom: 1px solid whitesmoke;

}
.schedule .var button
{
	height: 30px;
	width: 100px;
	margin: 8px 0 0 50px;
	border: none;
	border-radius: 5px;
	color:#bc74a5 ;
	box-shadow: 0 0 5px black;
	transition: .2s;
}
.schedule .var button:hover
{
	margin: 4px 0 0 50px;
}
.schedule .var p
{
	padding: 0;
	text-align: center;
	line-height: 50px;
}
.schedule .var span
{
	text-align: center;
	line-height: 50px;
	padding: 0 0 0 50px;
	color: whitesmoke;
}

.schedule .var i
{
	padding-left: 20px;
}
.schedule .var1 
{
	display: flex;
	height: 50px;
	width: 400px;
/*	background: lightgreen;*/
	border-bottom: 1px solid whitesmoke;

}
.schedule .var1 button
{
	height: 30px;
	width: 100px;
	margin: 8px 0 0 30px;
	border: none;
	border-radius: 5px;
	color:#bc74a5 ;
	box-shadow: 0 0 5px black;
	transition: .2s;
}
.schedule .var1 button:hover
{
	margin: 4px 0 0 30px;
}
.schedule .var1 p
{
	padding: 0;
	text-align: center;
	line-height: 50px;
}
.schedule .var1 span
{
	text-align: center;
	line-height: 50px;
	padding: 0 0 0 30px;
	color: whitesmoke;
}

.schedule .var1 i
{
	padding-left: 20px;
}
.schedule .var2
{
	display: flex;
	height: 50px;
	width: 400px;
/*	background: lightgreen;*/
	border-bottom: 1px solid whitesmoke;

}
.schedule .var2 button
{
	height: 30px;
	width: 100px;
	margin: 8px 0 0 50px;
	border: none;
	border-radius: 5px;
	color:#bc74a5 ;
	box-shadow: 0 0 5px black;
	transition: .2s;
}
.schedule .var2 button:hover
{
	margin: 4px 0 0 50px;
}
.schedule .var2 p
{
	padding: 0;
	text-align: center;
	line-height: 50px;
}
.schedule .var2 span
{
	text-align: center;
	line-height: 50px;
	padding: 0 0 0 70px;
	color: whitesmoke;
}

.schedule .var2 i
{
	padding-left: 20px;
}
.kalak h2 
{
	font-size: 35px;
	color: whitesmoke;
	padding: 20px 0 0 50px;

}
.kalak button
{
	height: 75px;
	width: 250px;
	background: whitesmoke;
    margin: 30px 0 0 50px;
    color:#bc74a5 ;
    font-size: 15px;
    border: none;
    transition: .2s;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}
.kalak button:hover
{
	margin: 20px 0 0 50px;
}
.kalak i 
{
	padding: 0 0 0 20px;
}
.phone
{
	height: 250px;
	width: 100%;
/*	background: lightpink;*/
	display: flex;
}
.phone .Address
{
	height: 230px;
	width: 23%;
/*	background: lightgreen;*/
/*	border: 1px solid black;*/
	margin: 10px;
}
.Address img
{
	height: 100px;
	width: 100px;
	margin: 0 0 0 85px;
}
.Address h2 
{
	padding: 0 0 0 50px;
}
.Address p 
{
	padding: 20px 0 0 90px;
}
.Address span
{
	padding: 0 0 0 70px;
}
.phone .Address1
{
	height: 230px;
	width: 23%;
/*	background: lightgrey;*/
/*	border: 1px solid black;*/
	margin: 10px;
}
.Address1 img
{
	height: 100px;
	width: 100px;
	margin: 0 0 0 85px;
}
.Address1 h2 
{
	padding: 0 0 0 80px;
}
.Address1 p 
{
	padding: 20px 0 0 30px;
}
.phone .Address2
{
	height: 230px;
	width: 23%;
/*	background: lightgrey;*/
/*	border: 1px solid black;*/
	margin: 10px;
}
.Address2 img
{
	height: 100px;
	width: 100px;
	margin: 0 0 0 85px;
}
.Address2 h2 
{
	padding: 0 0 0 80px;
}
.Address2 p 
{
	padding: 20px 0 0 60px;
}
.Address2 span
{
	padding: 0 0 0 40px;
}




.main1
{
   height: 400px;
   width: 100%;
   background: lightcyan;
   position: relative;

}
.main1 .best
{
	height: 300px;
	width: 275px;
	background: lightgoldenrodyellow;
	position: absolute;
	top:50px;
	left: 10px;
}
.best h2 
{
	color:#0e54ae ;
}
.best span 
{
	color:#bc74a5 ;
}
.best h3
{
	color:#bc74a5 ;
/*	padding: -10px 0 0 0;*/
font-size: 25px;
font-weight: bold;

}
.best p 
{
	padding:20px 0 0 5px ;
	font-size: 18px;
}
.best i 
{
	color:#0e54ae  ;
	padding-left: 5px;
}
.main1 .about 
{
	height: 300px;
	width: 200px;
	background: lightgrey;
	position: absolute;
	top:50px;
	left: 300px;

}
.about h2 
{
	color:#0e54ae ;
}
.about span
{
	margin: -20px 0 0 0 ;
	font-weight: bold;
	font-size: 40px;
	color: #bc74a5;
/*	padding: -20px 0 0 0;*/
}
.about p 
{
	font-size: 18px;
	margin: 10px;
}
.main1 .awards 
{
	height: 300px;
	width: 350px;
	background: lightgrey;
	position: absolute;
	top:50px;
	left: 520px;

}
.awards h2 
{
	color:#0e54ae ;
}
.awards span
{
	margin: -20px 0 0 0 ;
	font-weight: bold;
	font-size: 40px;
	color: #bc74a5;
/*	padding: -20px 0 0 0;*/
}
.awards img
{
	height: 200px;
	width: 350px;
}
.awards .text
{
	height: 200px;
	width: 230px;
/*	background: lightgreen;*/
	position: absolute;
	top: 70px;
	left:65px;

}
.awards .text span
{
	font-size: 15px;
	font-weight: normal;
	color: black;
}
.awards .text p
{
	padding: 5px 0 0 0 ;
	font-size: 18px;
}
.text p 
{
	margin: 15px 0 0 5px ;

}
.main1 .social
{
	height: 300px;
	width: 300px;
	background: lightgrey;
	position: absolute;
	top:50px;
	left: 890px;
}
.social h2 
{
	color: #0e54ae;
}
.social span
{
	margin: -20px 0 0 0 ;
	font-weight: bold;
	font-size: 40px;
	color: #bc74a5;
/*	padding: -20px 0 0 0;*/
}
.social p
{
	padding: 10px 0 0 10px;
	font-size: 20px;
}
.social .icon1
{
	height: 50px;
	width: 80%;
/*    background: lightgreen;*/
   position: absolute;
   top: 200px;
   left: 20px;
   display: flex;
   margin: 10px;
}
.icon1 .facebook
{
	height: 40px;
	width: 40px;
	background: blue;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	margin: 2px;
}
.social .icon1 .facebook i 
{
	font-size: 20px;
	color: whitesmoke;
}
.icon1 .facebook:hover
{
   background: white;
   border: 2px solid blue;
}
.social .icon1 .facebook i:hover
{
	color: blue;
}
.icon1 .twitter
{
	height: 40px;
	width: 40px;
	background: skyblue;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	margin: 2px;
}
.social .icon1 .twitter i 
{
	font-size: 20px;
	color: whitesmoke;
}
.icon1 .twitter:hover
{
	background: white;
	border: 2px solid skyblue;
}
.social .icon1 .twitter i:hover
{
	color: skyblue;
}

.icon1 .linkd
{
	height: 40px;
	width: 40px;
	background: #0e54ae;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	margin: 2px;
}
.social .icon1 .linkd i 
{
	font-size: 20px;
	color: whitesmoke;
}
.icon1 .linkd:hover
{
	background: white;
	border: 2px solid #0e54ae;
}
.social .icon1 .linkd i:hover
{
	color:#0e54ae ;
}
.icon1 .pinterest
{
	height: 40px;
	width: 40px;
	background: red;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	margin: 2px;
}
.social .icon1 .pinterest i 
{
	font-size: 20px;
	color: whitesmoke;
}
.icon1 .pinterest:hover
{
	background: white;
	border: 2px solid red;
}
.social .icon1 .pinterest i:hover
{
	color: red;
}
.footer
{
	height: 75px;
	width: 100%;
	background:#0e54ae ;
	display: flex;
}
.footer .copy
{
	height: 75px;
	width: 40%;
	background: lightcoral;
}
.footer .copy p 
{
	font-size: 20px;
	text-align: center;
	line-height: 75px;
	color:whitesmoke ;

}
.footer .copy span
{
	font-weight: bold;
	font-size: 20px;
	color: whitesmoke;
} 
.footer .last
{
	height: 75px;
	width: 60%;
	background: lightpink;
	text-align: center;
	line-height: 75px;
}

.footer .last li 
{
	list-style: none;
	display: inline;
	margin-right: 20px;
}
.footer .last a 
{
    text-decoration: none;
    color: whitesmoke;
    transition: .2s;
}
.footer .last a:hover
{
	color: grey;
}